.kakijun {
  display: grid;
  gap: 8px;

  #kakijunPaper {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .progress-block {
    grid-column: 1 / span 2;
    grid-row: 1;

    #kakijunProgress {
      width: 287px;
      height: 16px;
    }

    .slit.disabled {
      opacity: .5;
    }
  }

  #kakijunInput {
    grid-column: 1;
    grid-row: 3 / span 2;
    width: 56px;
    height: 56px;
    line-height: 56px;
    font-size: 46px;
    text-align: center;
    padding: 0;
    border: 1px solid #ccc;

    &::-webkit-input-placeholder {
      position: relative;
      top: -9px;
    }

    &::placeholder {
      font-size: 16px;
      opacity: 0.5;
      text-align: center;
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }

  .sliders-block {
    margin: 0;
    grid-column: 2;
    grid-row: 3;

    #kakijunThickness, #kakijunSpeed {
      width: 107px;
      height: 16px;
    }

    & > .slit:first-child {
      margin-right: 8px;
    }
  }

  .buttons-block {
    grid-column: 2;
    grid-row: 4;

    button + button {
      margin-left: 3.6px;
    }
  }

  #btnKakijunClear {
    background-position: 0 0;
  }

  #btnKakijunPlay {
    background-position: -224px 0;
    &.pause {
      background-position: -256px 0;
    }
  }

  #tglKakijunGrid {
    background-position: -96px 0;
  }

  #tglKakijunNumbers {
    background-position: -160px 0;
  }

  #btnKakijunColor, #btnKakijunBg {
    background-repeat: no-repeat;
    background-origin: content-box;
    background-clip: content-box;
    padding: 4px;
    opacity: 1;
  }

  #btnKakijunColor:active, #btnKakijunBg:active {
    padding: 5px 4px 3px;
  }

  #btnKakijunColor.randomColorIcon {
    background-image: url(icons-0.4.png);
    background-position: -192px 0;
    background-origin: padding-box;
    background-clip: padding-box;
    padding: 0;
  }
}
