.kakijun {
  .input {
    display: grid;
    gap: 8px;
    margin-top: 8px;
  }

  #kakijunInput {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 56px;
    height: 56px;
    font-size: 46px;
    text-align: center;
    padding: 0;
    border: 1px solid #ccc;
  }

  #kakijunInput::placeholder {
    font-size: 16px;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
  }

  #kakijunInput:focus::placeholder {
    opacity: 0;
  }

  #kakijunProgress {
    grid-column: 2;
    grid-row: 1;
    width: 222px;
    height: 16px;
  }

  .slit.disabled {
    opacity: .5;
  }

  .buttons-block {
    grid-column: 2;
    grid-row: 2;

    button + button {
      margin-left: 3.6px;
    }
  }

  #btnKakijunClear {
    background-position: 0 0;
  }

  #btnKakijunPlay {
    background-position: -224px 0;
    &.pause {
      background-position: -256px 0;
    }
  }

  #tglKakijunGrid {
    background-position: -96px 0;
  }

  #tglKakijunNumbers {
    background-position: -160px 0;
  }

  #btnKakijunColor, #btnKakijunBg {
    background-repeat: no-repeat;
    background-origin: content-box;
    background-clip: content-box;
    padding: 4px 5px 5px 4px;
    opacity: 1;
  }

  #btnKakijunColor:active, #btnKakijunBg:active {
    padding: 5px 4px 3px;
  }

  #btnKakijunColor.randomColorIcon {
    background-image: url(icons.png);
    background-position: -192px 0;
    background-origin: padding-box;
    background-clip: padding-box;
    padding: 0;
  }
}
