#paper {
  /* background-image: url(paper.jpg); */
  border: solid 1px #cacaca;
  width: 286px;
  height: 286px;
}

.sliders-block {
  margin: 8px 0;
}

.sliders-block > .slit:first-child {
  margin-right: 8px;
}

.buttons-block {
  button {
    width: 34px;
    height: 34px;
    border: 1px solid transparent;
    padding: 0;
    background-color: transparent;
    opacity: .8;
    cursor: pointer;
    vertical-align: top;
  }
  button.icon {
    background-image: url(icons.png);
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-origin: content-box;
  }
  button + button {
    margin-left: 2px;
  }
  button:hover {
    opacity: 1;
  }
  button:active {
    padding: 1px 0;
  }
  button.active {
    border-radius: 3px;
    border: 1px solid #D2D2D2;
    background-color: #EAE9FF;
  }
  button.disabled {
    opacity: .3;
  }
  button.disabled:active {
    padding: 0;
  }
}

#btnClear {
  background-position: 0 0;
}

#btnUndo {
  background-position: -32px 0;
}

#btnRedo {
  background-position: -64px 0;
}

#tglGrid {
  background-position: -96px 0;
}

#tglCalligraphy {
  background-position: -128px 0;
}

#tglNumbers {
  background-position: -160px 0;
}

#btnColor, #btnBg {
  background-color: #444;
  background-origin: content-box;
  background-clip: content-box;
  padding: 4px;
  opacity: 1;
}

#btnColor:active, #btnBg:active {
  padding: 5px 4px 3px;
}

#btnBg {
  background-repeat: no-repeat;
}

.randomColorIcon {
  background-image: url(icons.png);
  background-position: -192px 0;
}

.btnBg {
  width: 66px;
  height: 66px;
  border: 1px solid #dfdfdf;
}

.btnBg + .btnBg {
  margin-left: 5px;
}

.btnBgNone {
  background-image: url(checkers.png);
}

.btnBgPaper {
  background-image: url(paper.jpg);
}

.btnBgBlackboard {
  background-image: url(blackboard.jpg);
}
