<!DOCTYPE html>
<meta charset="utf-8">
<%= css %>
<title>J-Tools</title>
<div id="debug"></div>
<div id="container"></div>
<div id="footer">
    <a class="pull-left trigger trigger-kb">Keyboard</a>
    <a class="pull-left trigger trigger-recog">Recognition</a>
    <a class="pull-left trigger trigger-kakijun">Kakijun</a>
    <span class="pull-right copyright"><%= pkgname %> v<%= version %> &copy; aas <%= year %></span>
</div>
<noscript>
    <div id="message" style="display: block">
        <div class="error">
            This page requires Javascript to be enabled!<br><br>
            <a href="http://www.enable-javascript.com" target="_blank">How to enable JavaScript</a>
        </div>
    </div>
</noscript>
<%= scripts %>
